.form {
    @include adaptive-value("margin-bottom", 144, 80, 1);

    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        background-color: $blue;
        z-index: -1;

        top: 2px;
        height: calc(100% - 4px);
        display: none;
    }

    svg._desktop769,
    svg._mobile768 {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        fill: $blue;
    }

    // .form__container

    &__container {
    }

    // .form__body

    &__body {
    }

    ._section-title {
        @include adaptive-value("margin-bottom", 55, 49, 1);
    }

    // .form-contact

    &-contact {
        @include adaptive-value("padding-top", 171, 110, 1);
        @include adaptive-value("padding-bottom", 182, 104, 1);
        @include adaptive-value("margin-bottom", 136, 69, 1);
    }

    // .form-apply

    &-apply {
        svg._mobile768,
        svg._desktop769 {
            fill: $yellow;
        }

        @include adaptive-value("margin-bottom", 112, 72, 1);

        @include adaptive-value("padding-top", 188, 97, 1);
        @include adaptive-value("padding-bottom", 216, 117, 1);

        input[type="submit"] {
            background-color: $blue;
            color: #fff;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff;
                    color: $blue;
                }
            }

            @media (min-width: 476px) {
                max-width: 300px;
            }
        }
    }

    // .form-agent

    &-agent {
        svg._mobile768,
        svg._desktop769 {
            fill: $yellow;
        }

        @include adaptive-value("margin-bottom", 108, 61, 1);

        @include adaptive-value("padding-top", 180, 108, 1);
        @include adaptive-value("padding-bottom", 216, 120, 1);

        input[type="submit"] {
            background-color: $blue;
            color: #fff;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #fff;
                    color: $blue;
                }
            }

            @media (min-width: 476px) {
                max-width: 277px;
            }
        }
    }

    // .form-quote

    &-quote {
        @include adaptive-value("margin-top", 102, 61, 1);

        .form__grid-item {
            border-color: $yellow;
        }

        &:before {
            display: none;
        }

        input[type="submit"] {
            margin-top: 32px;
            background-color: $blue;
            color: #fff;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $yellow;
                    color: $blue;
                }
            }

            @media (min-width: 769px) {
                max-width: 300px;
            }

            @media (max-width: 768px) {
                max-width: 335px;
            }

            @media (max-width: 475px) {
                max-width: none !important;
            }
        }
    }

    &-agent,
    &-apply,
    &-quote {
        .form__select-select {
            border: 2px solid $yellow;

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background: $yellow;
            }

            span {
                width: 100%;
                @include adaptive-value("height", 68, 60, 1);
                background-color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;

                padding: 18px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-middle;
                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: $yellow;
                        color: #fff;
                    }
                }
            }
        }
    }
}

form {
    .form {
        // .form__grid

        &__grid {
            max-width: 856px;
            width: 100%;
            margin-inline: auto;

            @media (max-width: 900px) {
                max-width: none;
            }

            @media (min-width: 769px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: 24px 30px;
            }

            @media (max-width: 768px) {
                & > :not(:last-child) {
                    margin-bottom: 24px;
                }
            }

            // .form__grid-item

            &-item {
                position: relative;
                background-color: #fff;
                border: 2px solid transparent;

                &:not(.item-textarea) {
                    @include adaptive-value("height", 72, 64, 1);
                }

                &._error {
                    border-color: $red;

                    .form__grid-item-validate {
                        background-image: url("@img/svg/error-form.svg");
                    }

                    svg {
                        stroke: $red;
                    }
                }

                &._valid {
                    border-color: $green;

                    .form__grid-item-validate {
                        background-image: url("@img/svg/ok-green.svg");
                    }

                    svg {
                        stroke: $green;
                    }
                }

                // .form__grid-item-validate

                &-validate {
                    position: absolute;
                    right: 20px;
                    @include adaptive-value("top", 34, 30, 1);
                    transform: translate(0, -50%);
                    width: 24px;
                    height: 24px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto;

                    @media (max-width: 768px) {
                        right: 18px;
                    }
                }

                input {
                    height: 100%;
                    display: block;
                    width: 100%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $gray-middle;
                    padding: 18px 46px 18px 18px;

                    @media (max-width: 768px) {
                        font-size: 15px;
                        padding: 18px 42px 18px 18px;
                    }
                }

                textarea {
                    padding: 18px 46px 18px 18px;
                    display: block;
                    width: 100%;
                    resize: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $gray-middle;
                    @include adaptive-value("height", 192, 160, 1);

                    @media (max-width: 768px) {
                        padding: 18px 42px 18px 18px;
                    }
                }
            }

            .item-wullwidth {
                grid-column: span 2;
            }

            .form-phone {
            }

            .user-contact,
            .user-city,
            .user-carrier,
            .user-linehaul,
            .user-age,
            .user-experience,
            .user-state,
            .size-of-me,
            .form-date {
                height: 0;
                padding: 0;
                visibility: hidden;
            }
        }

        // .form__select

        &__select {
            height: 100%;

            // .form__select-title

            &-title {
                height: 100%;
                padding: 0 26px 0 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-middle;
                transition: all 0.3s ease 0s;

                @media (max-width: 768px) {
                    padding: 0 22px 0 18px;
                }

                &._open {
                    color: $yellow;

                    svg {
                        rotate: 180deg;
                    }

                    + .form__select-select {
                        display: block;
                    }
                }

                @media (max-width: 768px) {
                    font-size: 15px;
                }

                span {
                    pointer-events: none;
                }

                svg {
                    pointer-events: none;
                    width: 16px;
                    height: 16px;
                    flex: 0 0 16px;
                    stroke: $yellow;
                    stroke-width: 2px;
                    transition: all 0.3s ease 0s;
                }
            }

            // .form__select-select

            &-select {
                display: none;
                z-index: 1;
                position: relative;
                border: 2px solid $blue;
                width: calc(100% + 4px);
                left: -2px;
                @include adaptive-value("max-height", calc(70 * 3), calc(62 * 3), 1);
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background: $blue;
                }

                span {
                    width: 100%;
                    @include adaptive-value("height", 68, 60, 1);
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    padding: 18px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $gray-middle;
                    transition: all 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: $blue;
                            color: #fff;
                        }
                    }
                }
            }
        }

        // .form__date

        &__date {
            @include adaptive-value("height", 68, 60, 1);

            // .form__date-title

            &-title {
                height: 100%;
                padding: 0 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-middle;

                @media (max-width: 768px) {
                    font-size: 15px;
                }

                span {
                    pointer-events: none;
                }

                svg {
                    pointer-events: none;
                    width: 26px;
                    height: 26px;
                    stroke: $yellow;
                    stroke-width: 2px;
                    margin-right: 8px;
                }
            }

            // .form__date-calendar

            &-calendar {
            }
        }

        // .form__flexible

        &__flexible {
            max-width: 856px;
            margin-inline: auto;
            margin-top: 32px;
            display: flex;
            align-items: center;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                flex: 0 0 32px;
                border: 1px solid $yellow;
                cursor: pointer;
                pointer-events: none;
                margin-right: 18px;
            }

            label {
                width: fit-content;
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-dark;
                cursor: pointer;

                display: flex;
                align-items: center;
            }

            svg {
                width: 16px;
                height: 16px;
                stroke: $blue;
                stroke-width: 2px;
                opacity: 0;
                transition: all 0.3s ease 0s;
            }

            input:checked + label svg {
                opacity: 1;
            }

            &-info {
                display: flex;
                align-items: center;
                margin-left: 15px;
                font-size: 14px;
                color: $gray-dark;
                line-height: 1.25;
                font-style: normal;
                font-weight: 600;
                position: relative;

                & > :first-child {
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    flex: 0 0 30px;
                    border: 1px solid $yellow;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        + span {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                & > :last-child {
                    margin-left: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.3s ease 0s;

                    @media (max-width: 768px) {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        transform: translate(0, 10%);
                        width: 160px;
                        background-color: #fff;
                        box-shadow: 0px 0px 4px 2px rgba($color: $yellow, $alpha: 0.2);
                        padding: 6px;
                        border-radius: 6px;
                        text-align: center;
                    }
                }
            }
        }
    }

    input[type="submit"] {
        @include adaptive-value("margin-top", 40, 32, 1);
        @include adaptive-value("height", 72, 64, 1);
        @include adaptive-value("font-size", 18, 16, 1);

        width: 100%;
        max-width: 272px;
        font-weight: 700;
        line-height: 1.33;
        font-style: normal;
        display: block;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $yellow;
        color: $blue;
        border-radius: 100px;

        @media (max-width: 768px) {
            max-width: 335px;
        }

        @media (max-width: 475px) {
            max-width: none;
        }

        cursor: pointer;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #fff;
            }
        }
    }
}

.form__sent {
    display: none;

    // .form__sent-body

    &-body {
    }

    // .form__sent-content

    &-content {
    }

    // .form__sent-close

    &-close {
    }
}
