.ourblog {
    @include adaptive-value("margin-bottom", 94, 69, 1);

    // .ourblog__container

    &__container {
    }

    // .ourblog__body

    &__body {
    }

    ._section-title {
        @include adaptive-value("margin-bottom", 63, 41, 1);
    }

    // .ourblog__grid

    &__grid {
        .swiper {
            @media (min-width: 1025px) {
                overflow: unset;
            }
        }

        .swiper-wrapper {
            @media (min-width: 1025px) {
                display: grid;
                grid-template-columns:
                    calc((524 / $containerWidth) * 100%) calc((303 / $containerWidth) * 100%)
                    calc((413 / $containerWidth) * 100%);
                gap: 32px 30px;

                @media (max-width: 1200px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > :first-child {
                    grid-column: span 3;

                    article {
                        display: flex;
                        align-items: center;

                        a {
                            flex: 0 0 44.616%;
                            max-width: 580px;
                            width: 100%;
                            height: 364px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-right: 2px solid $yellow;
                            }
                        }

                        div {
                            padding-top: 45px;
                            padding-left: 55px;
                            padding-bottom: 40px;
                            padding-right: 60px;

                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }
                }

                & > :not(:first-child) {
                    article {
                        img {
                            height: 248px;
                        }

                        div {
                            padding: 23px 32px 26px 32px;
                        }
                    }
                }

                & > :nth-child(3) {
                    article {
                        div {
                            padding-inline: 18px;
                        }
                    }
                }
            }

            & > :not(:first-child) {
                article {
                    display: flex;
                    flex-direction: column;

                    img {
                        object-fit: cover;
                        border-bottom: 2px solid $yellow;
                    }

                    div {
                        flex: 1 1 100%;
                        display: flex;
                        flex-direction: column;

                        p {
                            flex: 1 1 100%;
                        }
                    }
                }
            }
        }

        .swiper-slide {
            height: auto;

            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
            }
        }

        // .review__flex-pagination

        &-pagination {
            display: none;
            
            @media (max-width: 1024px) {
                margin-top: 20px;
                display: flex;
            }
        }

        article {
            border: 2px solid $yellow;
            height: 100%;

            @media (max-width: 1024px) {
                max-width: 413px;
            }

            @media (max-width: 475px) {
                max-width: none;
            }

            a {
                display: block;

                img {
                    display: block;
                    max-width: 100%;
                    width: 100%;

                    @media (max-width: 1024px) {
                        @include adaptive-value("height", 248, 200, 1);
                    }
                }
            }

            div {
                @media (max-width: 1024px) {
                    @include adaptive-value("padding-top", 23, 29, 1);
                    @include adaptive-value("padding-bottom", 25, 23, 1);
                    @include adaptive-value("padding-left", 32, 22, 1);
                    @include adaptive-value("padding-right", 32, 22, 1);
                }
            }

            span {
                display: block;
                margin-bottom: 9px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.71;
                text-transform: uppercase;
                color: $yellow;

                @media (max-width: 1024px) {
                    margin-bottom: 7px;
                }
            }

            h3 {
                font-style: normal;
                font-weight: 700;
                line-height: 1.41;
                color: $gray-dark;

                @include adaptive-value("font-size", 22, 18, 1);
                @include adaptive-value("margin-bottom", 27, 31, 1);

                &:after {
                    content: "";
                    display: block;
                    width: 62px;
                    height: 3px;
                    margin-top: 16px;
                    background-color: $yellow;

                    @media (max-width: 1024px) {
                        margin-top: 15px;
                    }
                }
            }

            p {
                margin-bottom: 24px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-dark;
            }

            .read-more {
                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }
    }

    // .ourblog__more

    &__more {
        display: none;

        @media (max-width: 1024px) {
            margin-inline: auto;
            width: 100%;
            max-width: 413px;
            height: 56px;
            margin-top: 32px;

            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            color: $blue;
            border: 1px solid $blue;
            border-radius: 100px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 475px) {
            max-width: none;
        }
    }
}

.blog {
    .ourblog__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px 30px;

        @media (max-width: 768px) {
            display: block;
            & > :nth-child(n + 4) {
                display: none;
            }

            & > :not(:last-child) {
                margin-bottom: 32px;
            }
        }

        & > :first-child {
            grid-column: span 3;

            @media (min-width: 769px) {
                display: flex;
                align-items: center;

                a {
                    flex: 0 0 44.616%;
                    max-width: 580px;
                    width: 100%;
                    height: 364px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-right: 2px solid $yellow;
                    }
                }

                div {
                    padding-top: 45px;
                    padding-left: 55px;
                    padding-bottom: 40px;
                    padding-right: 60px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }

        & > :not(:first-child) {
            img {
                @media (min-width: 1025px) {
                    height: 248px;
                }
            }
            div {
                padding: 23px 32px 26px 32px;
            }
        }

        & > :nth-child(3) {
            div {
                padding-inline: 18px;
            }
        }
    }

    article {
        @media (max-width: 1025px) {
            max-width: none;
        }

        @media (max-width: 768px) {
            max-width: 413px;
            margin-inline: auto;
        }

        @media (max-width: 475px) {
            max-width: none;
        }

        a {
            img {
                @media (max-width: 1024px) {
                    @include adaptive-value("height", 248, 200, 1);
                }
            }
        }
    }

    // .blog__pagination

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 56px;

        @media (max-width: 768px) {
            display: none;
        }

        & > :not(:last-child) {
            margin-right: 20px;
        }

        li {
            a {
                width: 48px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.33;
                color: $blue;
                border: 1px solid $blue;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;

                transition: all 0.3s ease 0s;

                &.current {
                    background-color: $blue;
                    color: #fff;
                    font-weight: 700;
                }

                @media (any-hover: hover) {
                    &:hover {
                        background-color: $blue;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }

        &-prev,
        &-next {
            width: 48px;
            height: 48px;
            border: 1px solid currentColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blue;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $blue;
                    color: #fff;
                }
            }

            svg {
                width: 12px;
                height: 12px;
                stroke: currentColor;
                stroke-width: 2px;
                transition: all 0.3s ease 0s;
            }
        }

        // .blog__pagination-prev

        &-prev {
        }

        // .blog__pagination-next

        &-next {
        }
    }
}

.blog-section {
    .ourblog__grid {
        display: block;

        & > :not(:last-child) {
            margin-bottom: 32px;
        }

        @media (max-width: 768px) {
            & > :nth-child(n + 4) {
                display: none;
            }
        }
    }

    article {
        @media (min-width: 769px) {
            display: flex;
            align-items: center;

            a {
                flex: 0 0 44.616%;
                max-width: 580px;
                width: 100%;
                height: 364px;

                img {
                    width: 100%;
                    height: 100% !important;
                    object-fit: cover;
                    border-right: 2px solid $yellow;
                }
            }

            div {
                padding-top: 45px;
                padding-left: 55px;
                padding-bottom: 40px;
                padding-right: 60px;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }

        @media (max-width: 1025px) {
            max-width: none;
        }

        @media (max-width: 768px) {
            max-width: 413px;
            margin-inline: auto;
        }

        @media (max-width: 475px) {
            max-width: none;
        }

        a {
            img {
                @media (max-width: 1024px) {
                    @include adaptive-value("height", 248, 200, 1);
                }
            }
        }
    }
}
