.ourservices {
    @include adaptive-value("margin-bottom", 96, 72, 1);

    // .ourservices__container

    &__container {
    }

    // .ourservices__body

    &__body {
    }

    ._section-title {
        @include adaptive-value("margin-bottom", 63, 41, 1);
    }

    // .ourservices__grid

    &__grid {
        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px 30px;
        }

        @media (max-width: 768px) {
            & > :not(:last-child) {
                margin-bottom: 24px;
            }
        }

        article {
            padding: 32px 32px 24px 32px;
            border: 2px solid $yellow;
            border-top-width: 8px;
            display: block;

            @media (max-width: 768px) {
                padding: 20px 20px 18.5px 28px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                border: 2px solid $yellow;
                border-top-width: 2px;
                border-left-width: 8px;

                .read-more {
                    margin-left: 10px;
                    line-height: 1;

                    span {
                        display: none;
                    }
                }
            }

            h3 {
                font-style: normal;
                font-weight: 700;
                line-height: 1.45;
                color: $blue;

                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        color: $yellow;
                    }
                }

                @media (max-width: 768px) {
                    line-height: 1.25;
                }

                @include adaptive-value("font-size", 22, 17, 1);

                a {
                    color: currentColor;
                }
            }

            p {
                margin: 14px 0 24px 0;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-dark;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
