.clients {
    @include adaptive-value("margin-bottom", 78, 67, 1);

    // .clients__container

    &__container {
    }

    // .clients__body

    &__body {
    }

    ._section-title {
        @include adaptive-value("margin-bottom", 55, 41, 1);
    }

    .client__item {
        border: 7px solid $yellow;

        @include adaptive-value("padding-top", 47, 32, 1);
        @include adaptive-value("padding-left", 53, 17, 1);
        @include adaptive-value("padding-right", 53, 17, 1);
        padding-bottom: 27px;

        @media (max-width: 768px) {
            padding-bottom: 28.5px;
        }

        &-img {
            display: block;
            width: 48px;
            height: 48px;
            margin-right: 16px;

            @media (max-width: 768px) {
                width: 43px;
                height: 43px;
                margin-inline: auto;
                margin-bottom: 7px;
            }
        }
        // .client__item-column

        &-column {
            & > :not(:last-child) {
                margin-bottom: 32px;
            }
        }

        // .client__item-info

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;

            @media (max-width: 768px) {
                margin-bottom: 22px;
                flex-direction: column;
                justify-content: center;
            }
        }

        // .client__item-left

        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media (max-width: 768px) {
                    align-items: center;
                }

                span {
                    display: block;
                    font-style: normal;
                    font-weight: 700;
                    @include adaptive-value("font-size", 18, 17, 1);
                    line-height: 1.33;
                    color: $gray-dark;

                    @media (max-width: 768px) {
                        margin-bottom: 9px;
                    }
                }

                label {
                    display: block;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.6;
                    color: $gray-light;

                    @media (max-width: 768px) {
                        text-align: center;
                    }

                    @media (max-width: 425px) {
                        max-width: 195px;
                        margin-inline: auto;
                    }
                }
            }
        }

        // .client__item-right

        &-right {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
                display: none;
            }

            .rating {
                margin-bottom: 7px;
            }

            time {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
                color: $gray-middle;
            }
        }

        p {
            text-align: left;
            max-width: 100%;
            width: 100%;
            margin-bottom: 27px;
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: 1.67;
            color: $gray-dark;

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        a {
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 17, 15, 1);
            line-height: 1.41;
            color: $blue;
            cursor: pointer;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $yellow;
                }
            }

            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }

        // .client__item-more

        &-more {
            display: none;

            align-items: center;
            justify-content: center;

            max-width: 335px;
            width: 100%;
            height: 56px;
            text-align: center;

            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            color: $blue;
            border: 1px solid $blue;
            border-radius: 100px;
            transition: all 0.3s ease 0s;
            margin-top: 32px;

            @media (any-hover: hover) {
                &:hover {
                    color: $yellow;
                    border-color: $yellow;
                }
            }

            @media (max-width: 768px) {
                display: flex;
            }

            @media (max-width:375px){
                max-width: none;
            }
        }
    }
}
