.text {
    @include adaptive-value("margin-bottom", 96, 66, 1);

    // .text__container

    &__container {
    }

    // .text__body

    &__body {
        h2 {
            font-style: normal;
            font-weight: 800;
            line-height: 1.44;
            color: $gray-dark;
            @include adaptive-value("margin-bottom", 52, 41, 1);
            @include adaptive-value("font-size", 36, 24, 1);

            &:after {
                display: block;
                content: "";
                width: 94px;
                height: 4px;
                border-radius: 100px;
                background-color: $yellow;
                margin-top: 15px;

                @media (max-width: 768px) {
                    margin-top: 17px;
                    width: 80px;
                }
            }
        }

        div {
            h3,
            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 1.6;
                text-transform: uppercase;
                color: $yellow;
                margin-bottom: 21px;

                @media (max-width: 768px) {
                    margin-bottom: 23px;
                    color: $blue;
                    font-size: 16px;
                }

                &:first-of-type {
                    margin-top: 52px;

                    @media (max-width: 768px) {
                        margin-top: 63px;
                    }
                }

                &:not(:first-of-type) {
                    margin-top: 63px;
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 1.65;
                color: $gray-middle;

                mark,
                b {
                    background: none;
                    font-weight: 600;
                    color: $yellow;
                }

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }

        ul {
            @include adaptive-value("margin-top", 52, 47, 1);

            & > :not(:last-child) {
                margin-bottom: 24px;
            }

            li {
                border: 4px solid $yellow;
                @include adaptive-value("padding-top", 20, 16, 1);
                @include adaptive-value("padding-bottom", 20, 16, 1);
                @include adaptive-value("padding-left", 26, 22, 1);
                @include adaptive-value("padding-right", 32, 26, 1);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.78;
                    color: $blue;
                    transition: all 0.3s ease 0s;

                    @media (max-width: 768px) {
                        font-size: 16px;
                        line-height: 1.5;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            color: $yellow;

                            svg {
                                stroke: $yellow;
                            }
                        }
                    }

                    span {
                    }

                    svg {
                        flex: 0 0 22px;
                        margin-left: 10px;
                        width: 22px;
                        height: 22px;
                        stroke: $blue;
                        stroke-width: 2px;

                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }
    }

    // .text__images

    &__images {
        @include adaptive-value("margin-bottom", 89, 55, 1);

        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px 30px;
        }

        @media (max-width: 600px) {
            & > :not(:last-child) {
                margin-bottom: 24px;
            }
        }

        img {
            display: block;
            border: 10px solid $yellow;
            width: 100%;
            object-fit: cover;

            @media (min-width: 600px) {
                @include adaptive-value("height", 400, 216, 1);
            }

            @media (max-width: 768px) {
                border-width: 7px;
            }

            @media (max-width: 600px) {
                max-height: 400px;
                @include adaptive-value("height", 600, 216, 1);
            }
        }
    }
}
