.whatis {
    position: relative;
    @include adaptive-value("padding-top", 177, 96, 1);
    @include adaptive-value("padding-bottom", 217, 87, 1);
    @include adaptive-value("margin-bottom", 100, 61, 1);

    // .whatis__container

    &__container {
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        background-color: $blue;
        z-index: -1;

        top: 2px;
        height: calc(100% - 4px);
        display: none;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: $blue;
    }

   

    // .whatis__body

    &__body {
    }

    h2 {
        font-style: normal;
        font-weight: 800;
        line-height: 1.44;
        color: #ffffff;
        @include adaptive-value("font-size", 36, 24, 1);
        @include adaptive-value("margin-bottom", 45, 41, 1);

        &:after {
            content: "";
            display: block;
            width: 94px;
            height: 4px;
            border-radius: 100px;
            background-color: $yellow;
            margin-top: 15px;

            @media (max-width: 768px) {
                width: 80px;
                margin-top: 17px;
            }
        }
    }

    // .whatis__flex

    &__flex {
        @media (min-width: 769px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            & > :not(:last-child) {
                margin-bottom: 30px;
            }
        }

        p {
            @media (min-width: 769px) {
                max-width: calc(50% - 33px);
            }

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.62;
            color: #ffffff;
        }
    }

    // .whatis-yellow

    &-yellow {
        @include adaptive-value("padding-top", 271, 96, 1);
        @include adaptive-value("padding-bottom", 213, 87, 1);

        svg {
            fill: $yellow;
        }

        &:before {
            background-color: $yellow;
            display: none;
        }

        h2,
        p {
            color: $gray-dark;
        }

        h2 {
            &:after {
                background-color: $blue;
            }
        }
    }

    // .whatis-center

    &-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include adaptive-value("padding-top", 176, 105, 1);
        @include adaptive-value("padding-bottom", 196, 98, 1);

        h2 {
            @include adaptive-value("margin-top", 25, 31, 1);
            @include adaptive-value("margin-bottom", 37, 56, 1);
            text-transform: uppercase;

            &:after {
                margin-inline: auto;
                @include adaptive-value("margin-top", 63, 33, 1);
            }
        }

        .rating {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: auto;

            & > :not(:last-child) {
                margin-right: 9px;
            }

            img,
            svg {
                position: relative;
                width: 20px;
                height: 20px;
                flex: 0 0 20px;
            }
        }

        .whatis__flex {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                @include adaptive-value("font-size", 22, 17, 1);

                @media (min-width: 1200px) {
                    max-width: 1080px;
                }
            }

            label {
                @include adaptive-value("margin-top", 31, 38, 1);
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 2;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    // .whatis-form

    &-claim {
        @include adaptive-value("padding-top", 148, 102, 1);
        @include adaptive-value("padding-bottom", 176, 102, 1);

        h2 {
            margin-top: 0 !important;
            @include adaptive-value("margin-bottom", 19, 18, 1);
            text-transform: uppercase;

            &:after {
                display: none;
            }
        }

        ._section-title {
            margin-bottom: 31px;

            @media (max-width: 768px) {
                margin-bottom: 33px;
            }
        }

        ._button {
            @include adaptive-value("height", 72, 64, 1);
            @include adaptive-value("width", 252, 257, 1);
            @include adaptive-value("margin-bottom", 53, 63, 1);
            margin-inline: auto;
        }

        span {
            display: block;
            margin-bottom: 9px;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 1.52;
            color: #ffffff;

            @media (max-width: 768px) {
                font-size: 15px;
            }
        }

        .claim-phone {
            display: block;
            margin-inline: auto;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 1.31;
            color: $yellow;
        }
    }

    // .whatis-form

    &-form {
        @include adaptive-value("padding-top", 156, 94, 1);
        @include adaptive-value("padding-bottom", 176, 96, 1);

        h2 {
            margin-top: 0 !important;
            @include adaptive-value("margin-bottom", 19, 18, 1);
            text-transform: uppercase;
            color: $yellow;

            &:after {
                display: none;
            }
        }

        ._section-title {
            @include adaptive-value("margin-bottom", 55, 41, 1);
        }

        form {
            input[type="submit"] {
                @media (min-width: 476px) {
                    max-width: 257px;
                }
            }
        }
    }

    // .whatis-form-request

    &-form-request {
    }
}
