.whyus {
    // .whyus__container

    &__container {
    }

    // .whyus__body

    &__body {
    }

    ._section-title {
        @include adaptive-value("margin-bottom", 71, 41, 1);
    }

    // .whyus__flex

    &__flex {
        @include adaptive-value("margin-bottom", 144, 72, 1);

        .swiper {
            @media (min-width: 769px) {
                overflow: unset;
            }
        }

        .swiper-wrapper {
            @media (min-width: 769px) {
                display: flex;
                justify-content: center;

                & > :not(:last-child) {
                    margin-right: 40px;
                }
            }
        }

        .swiper-slide {
            @media (min-width: 769px) {
                max-width: 380px;
                flex: 0 0 calc(33% - 20px);
            }
            height: auto;

            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }

        &-prev,
        &-next {
            display: none;
            position: absolute;
            top: 40px;

            @media (max-width: 768px) {
                display: block;
                width: 32px;
                height: 32px;
                background-image: url("@img/svg/arrow-left.svg");
                background-repeat: no-repeat;
                background-size: 16px 16px;
                background-position: center;

                z-index: 2;
            }
        }

        // .whyus__flex-prev

        &-prev {
            @media (max-width: 768px) {
                left: 0;
            }
        }

        // .whyus__flex-next

        &-next {
            @media (max-width: 768px) {
                right: 0;
                rotate: 180deg;
            }
        }

        // .whyus__flex-pagination

        &-pagination {
            display: none;

            @media (max-width: 768px) {
                display: flex;
            }
        }

        // .whyus__flex-item

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 380px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: 335px;
            }

            @media (max-width: 375px) {
                max-width: none;
            }

            img {
                margin-bottom: 19px;
                @include adaptive-value("width", 120, 96, 1);
                @include adaptive-value("height", 120, 96, 1);

                @media (max-width: 768px) {
                    margin-bottom: 23px;
                }
            }

            h3 {
                font-style: normal;
                font-weight: 600;
                line-height: 1.2;
                text-align: center;
                color: $blue;
                @include adaptive-value("font-size", 22, 18, 1);
                @include adaptive-value("margin-bottom", 15, 18, 1);
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 1.53;
                text-align: center;
                color: $gray-dark;

                @include adaptive-value("font-size", 17, 15, 1);
            }
        }
    }

    // .whyus__numbers

    &__numbers {
        @include adaptive-value("margin-bottom", 140, 61, 1);

        @include adaptive-value("padding-top", 284, 103, 1);
        @include adaptive-value("padding-bottom", 202, 102, 1);
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            fill: $yellow;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            background-color: $yellow;
            z-index: -1;

            top: 2px;
            height: calc(100% - 4px);

            display: none;
        }

        // .whyus__numbers-bgc

        &-bgc {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;

            display: none;
        }

        // .whyus__numbers-container

        &-container {
        }

        // .whyus__numbers-body

        &-body {
            display: flex;
            justify-content: space-between;

            & > :not(:last-child) {
                margin-right: 40px;
            }

            @media (max-width: 768px) {
                display: block;

                & > :not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 72px;
                }
            }
        }

        // .whyus__numbers-item

        &-item {
            width: 100%;
            max-width: 362px;

            label {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.71;
                text-transform: uppercase;
                color: $blue;
                @include adaptive-value("margin-bottom", 12, 4, 1);
            }

            span {
                display: block;
                font-style: normal;
                font-weight: 800;
                line-height: 0.88;
                color: #ffffff;
                @include adaptive-value("font-size", 86, 64, 1);
                @include adaptive-value("margin-bottom", 23, 16, 1);
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: $gray-dark;

                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }
    }
}
